* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
    background-image: url(beige.jpg);
    font-family: "Garamond";
  }

.logo{
  float: left; 
  position: relative;
    top: -70px;
    left: 40px;   
}

.nu{
  float: right; 
  position: static;
  top: 60px;
  left: -40px;   
}

header {font-size: 50px;
  background-color: #b1d8b7;
  padding: 3px;
  margin-right: auto;
  text-align: right;
  text-shadow: 2px 2px 4px #7a9282;
}

p{color: #1c1f1b;}

/* Navigation */
nav {
  position: relative;
  color: #2f5233;
  background-color: #2f5233;
  border: 3px #2f5233;
  overflow: hidden;
}

#hamburger {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.hamburger-icon {
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
  background-color: #94c973;
}

.hamburger-icon::before {
  content: "\2630";
}

.menu{
display: none;
width: 100%;
list-style-type: none;
text-align: center;
border: 3px #76b947;
background-image: url(bckg4.jpg);
}

.menu li{
width: 100%;
}

.menu a{
  display: inline-block;
  width: 100%;
  color: #2f5233;
  text-decoration: none;
}

.menu a: hover{
  background-color: #76b947;
}

/* Key component */
#hamburger:checked~.menu {
  display: block;
  text-align: center;
}

ul[class] {color: #1c1f1b;}

ul {
  overflow: auto;
  list-style-type: square;
  list-style-position: outside;
  display: grid;
  width: auto;
  grid-template-columns: auto auto auto auto auto;
  align-items: start;
  justify-content: space-between;
  gap: 10px 2em;
}

ul:.first-child {
    align-self: center;
}

li {
  width: auto;
  border:3px solid #b1d8b7;
  text-align: center;
}

a:link, a:visited {
  background-color: #F5F5DC;
  color: #2f5233;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #94c973;
}

#main-heading {color: #c9c0a5;
	text-align: left;
  font-size: 25px;
  font-family: "Georgia";
  }

h2{text-align: center;
color: #b1d8b7;
background-color: #2f5233;
font-family: "Monaco";}

img{border: 3px dotted #94c973;
  border-radius: 4px;
  padding: 5px;
border-radius: 40%;
display: block;
  margin-left: auto;
  margin-right: auto;}

h3 {color: #1c1f1b;
background-color: #7a9282;
box-sizing: border-box;
text-align: right;}

iframe{float:inherit;
border: 4px dotted #94c973;
  border-radius: 3px;
  padding: 4px;
border-radius: 30%}


h5{color: #ffffff;
	text-decoration: underline dotted #94c973;
	font-family: "Garamond";
}

div[class] {color: #2f5233;}

article[id] {background-image: url(bckg5.jpg);}

@media screen and (min-width: 768px) {

  .menu,
  #hamburger:checked~.menu {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px 2em;}

.menu :.first-child {
    align-self: center;
}

  #hamburger,
  .hamburger-icon {
    display: none;
  }
}

/* Main content */
section {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #7a9282;
}

h1{
  width: 40%;
  text-align: center;
  font-size: 15em;
}

h2, h3{
  text-align: center;
}

/* For mobile phones: */
@media screen and ((min-width: 300px) and (max-width: 767px)){
[class*="col-"] {
    width: 100%;
  }

.banner{width: 100%;
height: auto;}

.nu{
  display: none;   
}

header{font-size: 2em;}
.main_content{width:100%; float: none;}

  body {
    background-image: url(bckg2.jpg);
    margin: 35px;
    font-size: 0.5em;
  }

#main-heading{
  color: #ffffff;
  background-color: c9c0a5;
  font-size: 1em;
}
}

/* For tablets: */
@media screen and ((min-width: 768px) and (max-width: 1023px)){

  .banner{width: 100%;
    height: auto;}
    header{font-size: 2.5em;}

  body {
    background-color: #7a9282;
    margin: 38px;
    font-size: 1em;
  }

  #main-heading {color: #94c973;
  text-align: left;
  font-size: 0.75em;
  font-family: "Georgia";
  }
}

.col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media screen and (min-width: 1024px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

img {
max-width: 100%;
height: auto;
}

.main_content ul; footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  padding: 15px;
}

.main content li; footer li {
  display: block;
  width: 100%;
}

  /* For desktop: */
@media screen and (min-width: 1024px) {
  body {
    background-image: url(usu.jpg);
    margin: 10px;
    font-size: 1.5em;
  }
}

.main_content {width: 75%;
float: left;}

.aside_content {width: 25%;
float: right;}

.banner{max-width: 100%;
height: 300px!important;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  padding: 15px;
  width: 100%;
}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

img {
max-width: 100%;
height: auto;
}

.main_content ul; footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  padding: 15px;
}

.main content li; footer li {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main content ul; footer ul {
    flex-wrap: nowrap;
  }
}